*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    width: 100%;
    height: 60px;
    background-color: #0d0517;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-family:'cascadia code', Times, serif;
}
.titre{
    width: 100%;
    height: 100px;
    display: flex;
    font-size:20px;
    align-items: center;
    justify-content: center;
    color:blue
}
#sur-moi {
    text-align: justify;
    padding: 50px;
}
.présentation{
    display: flex;
    flex-direction: column;
    align-items: vertical;
    justify-content: center;
    width: 50%;
    font-family: 'arial', sans-serif;
}
h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0db8e7;
    justify-content: center;
    text-align: center;
}  
.image {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 30px;
    position:absolute;
    top: 200px;
    left: 70%;
}
.image img {
    width: 100%;
    height: 100%;
  
}
#compétences{
    text-align: center;
    padding: 50px;
    font-family: 'arial', sans-serif;
}